  <div class="row">
    <div class="offset-md-2 col-md-8 my-5">
      <h1 class="text-center text-primary mt-5">Nodes list</h1>
      <p class="text-center h4">Drag and drop any item in this list</p>
      <div class="mb-3"> 
        <input type="search" class="form-control" id="searchText" placeholder="Search ...."
        [(ngModel)]="searchQuery">
      </div>
      <div class="h2 text-danger" *ngIf="(nodeData | search : searchQuery).length == 0 && searchQuery.length != 0">
        No matching records found.
      </div>
      <div class="h2 text-danger" *ngIf="nodeData?.length == 0">
        No data available in this list.
      </div>
      <div class="spinner-border" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div *ngIf="nodeData?.length != 0">
        <div [dragula]="nodeGroup" [(dragulaModel)]="nodeData">
          <div *ngFor="let node of nodeData | search : searchQuery; let i = index"
          (mouseenter)="enter(i)" (mouseleave)="leave(i)"
          class="card my-3">
            <div class="card-header drag d-flex justify-content-between">
              <h2>{{node?.name}}</h2>
              <div *ngIf="hoverIndex == i">
                <button [routerLink]="['/add-new-node', node?.id, node?.position]" class="btn btn-success btn-sm me-1">
                  <i class="fa fa-plus"></i>
                </button>
                <button [routerLink]="['/add-new-node', node?.id]" class="btn btn-success btn-sm me-1">
                  <i class="fa fa-leaf"></i>
                </button>
                <button [routerLink]="['/update-node', node?.id]" class="btn btn-primary btn-sm me-1">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteNodeById(node?.id)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <div [ngClass]="{'card-body': node?.children?.length === 0}">
              <div class="row" *ngIf="node?.children?.length === 0">                
                <span class="text-center">
                  No child nodes found. Drag any item below this text to save it.
                </span>
              </div>
              <ul class="list-group list-group-flush" [dragula]="subNodeGroup" [(dragulaModel)]="node.children">
                <li class="list-group-item drag" *ngFor="let childrenNode of node.children">
                  <div class="d-flex justify-content-between">
                    <p>{{ childrenNode?.name}}</p>
                    <div>
                      <button [routerLink]="['/update-node', childrenNode?.id]" class="btn btn-primary btn-sm me-1">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="deleteNodeById(childrenNode?.id)" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </li>
                <div *ngIf="node.children.length === 0" style="height: 50px;">
                </div>        
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>